{:did        "did:web:etzhayyim.github.io:com-etzhayyim-mitooshi"
 :handle     "mitooshi.etzhayyim.com"
 :ipns-key   "mitooshi-actor"
 :graph-type "com.etzhayyim.mitooshi.graph"
 :published  "2026-06-28"
 :bundle [["data" "data"]
          [".well-known/did.json" "did.json"]
          ["README.md" "README.md"]]}
